
// NB: set bootstrap defaults *before* importing it

$font-family-base: 'Cinzel', serif;
$brand-primary: #EB2D39;
$navbar-default-link-color: #FFFFF5;
$navbar-default-link-hover-color: #5D5D62;
$navbar-default-bg: #82C4BF;
$body-bg: #FFFFF5;
$h2-padding: none;

$font-size-h1: 6em;
$font-size-h2: 4em;
$font-size-h3: 1.5em;

$thumbnail-bg: #fff;
$thumbnail-border-radius: 0;

@import "bootstrap";

h1 { 
font-family: 'Tangerine', cursive;
font-weight: 400; 
color: #60918E;
padding: none;
}

h2 { 
font-family: 'Tangerine', cursive;
font-weight: 400; 
color: #60918E;
padding: 0;
}

h3 { 
font-family: 'Cinzel', serif; 
font-weight: 400;
color: #5D5D62; 
padding: none;
}

p { 
font-family:'Cinzel', serif;
font-weight: 400; 
color: #5D5D62; 
}

#mainImg {
border: none;
max-height: 600px;
}

body { 

position: relative;
padding-top: 70px; 

}

.row[id]{
  padding-top: 60px;
  margin-top: -40px;
}
