
// NB: set bootstrap defaults *before* importing it

$body-bg: #FFFFF5;
$font-family-base: 'Cinzel', serif;
$brand-primary: #82C4BF;
$navbar-default-link-color: $body-bg;
$navbar-default-link-hover-color: #5D5D62;
$navbar-default-bg: $brand-primary;

$font-size-h1: 6em;
$font-size-h2: 4em;
$font-size-h3: 1.5em;

$thumbnail-bg: #fff;
$thumbnail-border: #fff;
$thumbnail-padding: 8px;
$thumbnail-border-radius: 0;

@import "bootstrap";

h1 { 
font-family: 'Tangerine', cursive;
font-weight: 400; 
color: #60918E;
padding: none;
}

h2 { 
font-family: 'Tangerine', cursive;
font-weight: 400; 
color: #60918E;
}

h3 { 
font-family: 'Cinzel', serif; 
font-weight: 400;
color: #5D5D62;
margin-top: 0;
}

p { 
font-family:'Cinzel', serif;
font-weight: 400; 
color: #5D5D62; 
}

body { 

position: relative;
padding-top: 70px; 

}

.headliner {
    position: relative;
}

.headliner-text {
    top: 50px;
    right: 40px;
    position: absolute;
}

#liamanda h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 0.8;
}

.row[id] {
  padding-top: 50px;
  margin-top: -40px;
}
