---
title: directions
---

<div class="welcome">
  <h1>directions</h1>
  <p class="doc">
    <%= link_to "back home link...", "/" %>
    <%= link_to "and another", "http://liamanda.com/" %>
  </p>
</div>
