---
title: liam/amanda
---

<div class="welcome">
  <h1>test title</h1>
  <p class="doc">
    <%= link_to "directions link...", "/directions.html" %>
    <%= link_to "and another", "http://liamanda.com/" %>
  </p>
</div>
