---
title: Liamanda Wedding
---

<div class="row" id="liamanda">
  <div class="col-md-12">
    <h1 class="text-center">Amanda & Liam</h1>
  </div>
</div>

<div class="row headliner">
  <div class="headliner-text text-right col-xs-4 col-md-12">
    <h3>June 20, 2015</h3>
    <h3>Berkeley, California</h3>
  </div>
  <img src="img/tahoe_noborder.jpg" alt="photo" class="img-responsive img-thumbnail">
</div>

<br>
<br>

<!-- -------------- Event Details -------------- -->

<div class="row" id="event-details">
  <h2 class="col-md-6 col-md-offset-6">Event Details</h2>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <img src="img/Berkeley-faculty-club.jpg" alt="photo" class="img-responsive img-thumbnail">
  </div>

  <div class="col-md-6">
    <h3>The Berkeley Faculty Club</h3>
    <h3>June 20, 2015</h3>
    <h3>5 o'clock in the afternoon</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>

</div>

<br>
<br>

<!-- -------------- Accomodations -------------- -->

<div class="row" id="accommodations"><h2>Accommodations</h2></div>

<div class="row">
	<div class="col-xs-12 col-md-5">
  	<p><h3>The Faculty Club at U.C. Berkeley</h3></p>
    <p>The Faculty Club is located on the U.C. Berkeley campus, close to great food and transportation to San Francisco and other local attractions.</p>
  	<p>To make a reservation, call: (510) 540-5678, ext. 0</p>
    <p><i class="fa fa-envelope-o"></i>&nbsp<a href="mailto:hotel@berkeleyfacultyclub.com?Subject=Room Reservation" target="_top">hotel@berkeleyfacultyclub.com</a></p>
    <p><i class="fa fa-laptop"></i>&nbsp<a href="http://www.berkeleyfacultyclub.com/Default.aspx?p=DynamicModule&pageid=346917&ssid=249912&vnf=1" target="_blank">The Faculty Club</a></p>
    <p><i class="fa fa-yelp"></i>&nbsp<a href="http://www.yelp.com/biz/the-faculty-club-berkeley" target="_blank">Yelp Review</a></p>
  </div>

	<div class="col-xs-12 col-md-5 col-md-offset-1">
  	<p><h3>The Bancroft Hotel</h3></p>
    <p>The Bancroft Hotel is a short walk to the Faculty Club, just across the street from the Berkeley Campus. Within walking distance to BART and restaurants.</p>
    <p>To make a reservation, call: (510) 549-1000</p>
    <p><i class="fa fa-laptop"></i>&nbsp<a href="http://bancrofthotel.com/our-guestrooms/" target="_blank">The Faculty Club</a></p>
    <p><i class="fa fa-yelp"></i>&nbsp<a href="http://www.yelp.com/biz/bancroft-hotel-berkeley" target="_blank">Yelp Review</a></p>
  </div>

</div>

<br>

<div class="row">
  <div class="col-xs-12 col-md-5">
    <p><h3>Berkeley City Club</h3></p>
    <p>Designed by Julia Morgan, the Berkeley City Club is within walking distance to the wedding venue. Close to BART, restaurants, and the Berkeley campus.</p>
    <p>To make a reservation, call: (510) 848-7800</p>
    <p><i class="fa fa-laptop"></i>&nbsp<a href="http://berkeleycityclub.com/hotel/" target="_blank">Berkeley City Club</a></p>
    <p><i class="fa fa-yelp"></i>&nbsp<a href="http://www.yelp.com/biz/berkeley-city-club-berkeley" target="_blank">Yelp Review</a></p>
  </div>

</div>

<br>
<br>

<!-- -------------- Directions -------------- -->

<div class="row" id="directions">
  <h2 class="col-md-12">Directions</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <p><h1>Liam & Amanda's Wedding</h1></p>
    <h2>June 20, 2015</h2>
    <h2>Berkeley, California</h2>
  </div>

  <div class="col-xs-12 col-md-8">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3149.512785943119!2d-122.25590600000002!3d37.871688999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857e9d1857dc85%3A0x381a4c5cf7ec8f9a!2sThe+Faculty+Club+at+UC+Berkeley!5e0!3m2!1sen!2sus!4v1425247461160" width="400" height="300" frameborder="0" style="border:0"></iframe>
  </div>
</div>

<br>
<br>

<!-- -------------- Registry -------------- -->

<div class="row" id="registry">
  <h2 class="col-md-12">Registry</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <p><h1>Liam & Amanda's Wedding</h1></p>
    <h2>June 20, 2015</h2>
    <h2>Berkeley, California</h2>
  </div>

  <div class="col-xs-12 col-md-8">
    <img src="img/adamwedding.jpg" alt="photo" id="mainImg" class="img-responsive">
  </div>
</div>
  