---
title: Liamanda
---

<div class="row" id="liamanda">
  <div class="col-md-12">
    <h1 class="text-center">Amanda & Liam</h1>
  </div>
</div>

<div class="row headliner">
  <div class="headliner-text text-right col-xs-4 col-md-12">
    <h3>June 20, 2015</h3>
    <h3>Berkeley, California</h3>
  </div>
  <img src="img/tahoe_noborder.jpg" alt="photo" class="img-responsive img-thumbnail">
</div>
<br>
<hr>
<br>
<!-- -------------- Event Details -------------- -->

<div class="row" id="event-details">
  <div class="col-xs-12 col-md-6">
    <img src="img/Berkeley-faculty-club.jpg" alt="photo" class="img-responsive img-thumbnail">
  </div>

  <div class="col-xs-12 col-md-6">
    <h2>Event Details</h2>
    <h3>The Berkeley Faculty Club</h3>
    <h3>June 20, 2015</h3>
    <h3>5 o'clock in the afternoon</h3>
    <p>The outdoor ceremony begins at 5 o'clock followed by refreshments on the Faculty Club patio. The celebration continues with dinner, music and dancing indoors. Bring warm layers as it can get chilly in the evening. We look forward to seeing you in June!</p>
    <br>  
    <p>Parking is available in the <a href="https://www.google.com/maps/place/Bancroft+Parking+Structure/@37.8705705,-122.257238,17z/data=!4m5!1m2!2m1!1sThe+Bancroft+Parking+Structure!3m1!1s0x80857c2f8c02d9e9:0x17161d051ae9b931" target="_blank">Bancroft Parking Structure</a>.</p>
  </div>
</div>
<br>
<hr>

<!-- -------------- Accomodations -------------- -->

<div class="row" id="accommodations"><h2>Accommodations</h2></div>

<div class="row">
	<div class="col-xs-12 col-md-5">
  	<p><h3>The Faculty Club at U.C. Berkeley</h3></p>
    <p>The Faculty Club is located on the U.C. Berkeley campus, close to great food and transportation to San Francisco and other local attractions.</p>
  	<p>To make a reservation, call: (510) 540-5678, ext. 0</p>
    <p><i class="fa fa-laptop"></i>&nbsp<a href="http://www.berkeleyfacultyclub.com/Default.aspx?p=DynamicModule&pageid=346917&ssid=249912&vnf=1" target="_blank">The Faculty Club</a></p>
    <p><i class="fa fa-yelp"></i>&nbsp<a href="http://www.yelp.com/biz/the-faculty-club-berkeley" target="_blank">Yelp Review</a></p>
  </div>

	<div class="col-xs-12 col-md-5 col-md-offset-1">
  	<p><h3>The Bancroft Hotel</h3></p>
    <p>The Bancroft Hotel is a short walk to the Faculty Club, just across the street from the Berkeley Campus. Within walking distance to BART and restaurants.</p>
    <p>To make a reservation, call: (510) 549-1000</p>
    <p><i class="fa fa-laptop"></i>&nbsp<a href="http://bancrofthotel.com/our-guestrooms/" target="_blank">Bancroft Hotel</a></p>
    <p><i class="fa fa-yelp"></i>&nbsp<a href="http://www.yelp.com/biz/bancroft-hotel-berkeley" target="_blank">Yelp Review</a></p>
  </div>

</div>

<br>

<div class="row">
  <div class="col-xs-12 col-md-5">
    <p><h3>Berkeley City Club</h3></p>
    <p>Designed by Julia Morgan, the Berkeley City Club is within walking distance to the wedding venue. Close to BART, restaurants, and the Berkeley campus.</p>
    <p>To make a reservation, call: (510) 848-7800</p>
    <p><i class="fa fa-laptop"></i>&nbsp<a href="http://berkeleycityclub.com/hotel/" target="_blank">Berkeley City Club</a></p>
    <p><i class="fa fa-yelp"></i>&nbsp<a href="http://www.yelp.com/biz/berkeley-city-club-berkeley" target="_blank">Yelp Review</a></p>
  </div>

  <div class="col-xs-12 col-md-5 col-md-offset-1">
    <p><h3>Hotel Shattuck Plaza</h3></p>
    <p>Located in downtown Berkeley, Hotel Shattuck Plaza is about a 20 to 30 minute walk from the wedding venue. It is close to BART and restaurants on Shattuck Avenue.</p>
    <p>To make a reservation, call: (510) 845-7300</p>
    <p><i class="fa fa-laptop"></i>&nbsp<a href="http://www.hotelshattuckplaza.com/" target="_blank">Hotel Shattuck Plaza</a></p>
    <p><i class="fa fa-yelp"></i>&nbsp<a href="http://www.yelp.com/biz/hotel-shattuck-plaza-berkeley-2" target="_blank">Yelp Review</a></p>
  </div>
</div>

<br>
<hr>

<!-- -------------- Directions -------------- -->

<div class="row" id="directions">
   <div class="col-md-5">
      <h2>Directions</h2>

      <p><i class="fa fa-car"></i>&nbsp<b>Parking is available at the <a href="https://www.google.com/maps/place/Bancroft+Parking+Structure/@37.8705705,-122.257238,17z/data=!4m5!1m2!2m1!1sThe+Bancroft+Parking+Structure!3m1!1s0x80857c2f8c02d9e9:0x17161d051ae9b931" target="_blank">Bancroft Parking Structure</a> on Bancroft Way (between College Avenue & Bowditch Street).</b></p>
      <br>
      <p><i class="fa fa-print"></i>&nbsp<a href="img/directions.pdf" target="_blank">Printable Directions to the Berkeley Faculty Club</a></p>
  </div>
    
  <div class="col-md-7">
    <div id="map_wrapper">
      <div id="map_canvas" class="mapping"></div>
    </div>
  </div>

</div>

<br>

<hr>

<!-- -------------- Registry -------------- -->

<div class="row" id="registry">

  <div class="col-md-5">
   <img src="img/adamwedding.jpg" alt="photo" id="mainImg" class="img-responsive img-thumbnail">
  </div>

 <div class="col-md-7">
    <h2>Gift Registry</h2>
    <br>
    <p><a href="http://www.crateandbarrel.com/Gift-Registry/" target="_blank">Crate&Barrel</a></p>
    <br>
    <p>Help us grow our garden! Gift certificates are available at the following nearby nurseries:</p>
    <p><a href="http://www.anniesannuals.com/gift-certificates/" target="_blank">Annie's Annuals</a></p>
    <p><a href="http://www.eastbaynursery.com/gift_card" target="_blank">East Bay Nursery</a></p>
    <br>
    <p>We are traveling to Iceland for our honeymoon and fixing up our 1906 Victorian. Contribute to our honeymoon and home improvement fund:</p>
    <p><a href="http://www.honeyfund.com/wedding/liamanda" target="_blank">Liamanda Honeyfund</a></p>

  </div>

</div>

<br>
<hr>
  