---
title: Liamanda Wedding
---

<div class="row">
  <div class="col-md-4">
    <p><h1>Liam & Amanda's Wedding</h1></p>
    <h2>June 20, 2015</h2>
    <h2>Berkeley, California</h2>
  </div>

  <div class="col-xs-12 col-md-8">
    <img src="img/adamwedding.jpg" alt="photo" id="mainImg" class="img-responsive">
  </div>
</div>

<br>
<br>


<!-- -------------- Event Details -------------- -->

<div class="row" id="event-details">
  <h1>Event Details</h1>
</div>

<div class="row">

  <div class="col-xs-12 col-md-6">
    <img src="img/Berkeley-faculty-club.jpg" alt="photo" class="img-responsive">
  </div>

  <div class="col-md-6">
    <p><h3>Location: The Berkeley Faculty Club</h3></p>
    <p><h3>Date: June 20, 2015</h3></p>
    <p><h3>Time: 5 o'clock in the afternoon</h3></p>
    <p><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h3></p>
  </div>

</div>


<!-- -------------- Accomodations -------------- -->

<div class="row" id="accommodations">
  <h1>Accommodations</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <p><h1>Liam & Amanda's Wedding</h1></p>
    <h2>June 20, 2015</h2>
    <h2>Berkeley, California</h2>
  </div>

  <div class="col-xs-12 col-md-8">
    <img src="img/adamwedding.jpg" alt="photo" id="mainImg" class="img-responsive">
  </div>
</div>

<!-- -------------- Directions -------------- -->

<div class="row" id="directions">
  <h1>Directions</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <p><h1>Liam & Amanda's Wedding</h1></p>
    <h2>June 20, 2015</h2>
    <h2>Berkeley, California</h2>
  </div>

  <div class="col-xs-12 col-md-8">
    <img src="img/adamwedding.jpg" alt="photo" id="mainImg" class="img-responsive">
  </div>
</div>

<!-- -------------- Registry -------------- -->

<div class="row">
  <h1>Registry</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <p><h1>Liam & Amanda's Wedding</h1></p>
    <h2>June 20, 2015</h2>
    <h2>Berkeley, California</h2>
  </div>

  <div class="col-xs-12 col-md-8">
    <img src="img/adamwedding.jpg" alt="photo" id="mainImg" class="img-responsive">
  </div>
</div>
  